<a style="color:white" class="btn btn-success mx-2" routerLink="/add"
  >Add user</a
>
<a
  style="color:white"
  class="btn btn-dark"
  href="https://exam-test-node-backend.herokuapp.com/api/file"
  >Export User</a
>
<form
  class="form-inline"
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit()"
  style="margin-top:20px;"
>
  <div class="form-group mx-sm-6 mx-2">
    <input
      type="text"
      formControlName="search"
      class="form-control"
      id="inputPassword2"
      placeholder="Search user with email or name"
    />
  </div>
  <button [disabled]="loading" type="submit" class="btn btn-primary mx-2">Search</button>
  <img
  *ngIf="loading"
  class="pl-3"
  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/>
  <button type="submit" class="btn btn-danger mx-2" (click) = (reset())>Reset</button>
</form>
<table class="table" style="margin-top:50px;">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateUser(user._id)"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-danger mx-2"
          (click)="deleteUser(user._id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
